<h2>Canta con noi!</h2>

<p>Gioia, bella scintilla divina,
    figlia dell'Eliseo,
    noi entriamo ebbri e frementi,
    o celeste, nel tuo tempio.
    Il tuo incanto rende unito
    ciò che la moda rigidamente separò,
    i mendichi diventano fratelli dei principi
    dove la tua ala soave freme.
    
<p>    Coro</p>
<p> Abbracciatevi, moltitudini!
    Questo bacio vada al mondo intero!
    Fratelli, sopra il cielo stellato
    deve abitare un padre affettuoso.</p>
<img class="mb-3" src="https://cdn.pixabay.com/photo/2020/10/18/17/17/meal-5665508__340.jpg" alt="gambe sul piato">
