<h2>I Nostri Piatti</h2>

<div class="container">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <div *ngFor="let dish of dishes ; index as dishId">
        <div class="col">
            <div class="card mx-auto my-3 p-2" style="width: 18rem;">
                <img src="{{ dish.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ dish.name }}</h5>
                    <p *ngIf="dish.description" class="card-text">{{ dish.description }}</p>
                    <p *ngIf="!dish.description" class="card-text">Just let our Chef surprise you!</p>
                    <h6 class="card-title text-end me-3 mb-5">{{ dish.price }} €</h6>
                    <a *ngIf="dish.availability" routerLink="../details/{{dishId}}" class="btn btn-outline-warning me-3">Details</a>
                    <p *ngIf="dish.availability" (click)="addToCart(dish)" class="btn btn-outline-success my-3">Order</p>
<!--
                         <a *ngIf="dish.availability" routerLink="order/#" class="btn btn-outline-success">Order</a>
-->
                    <p *ngIf="!dish.availability" class="btn btn-outline-warning">This dish has been eaten up. Please choose a different one!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>